.Dashboard-Container {
    min-height: auto;
    padding-top: 3.8rem;
    padding-left: 5rem;
    transition: margin-left 0.3s ease;
}

.sidebar.collapsed + .Dashboard-Container {
    margin-left: 80px;
}

@media (max-width:408px){
    .Dashboard-Container{
        padding-left: 0rem;
    }
}